/////////Created by Himanshu Madhan///////////
$body-bg: #f7fcff;
@import "~bootstrap/scss/bootstrap";

$font-family-sans-serif:  -apple-system, BlinkMacSystemFont, 'Manrope', "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji";

$primary : #5d1ea2;

$theme-colors: (
  "primary": $primary
);




